/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/
.layer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1049;
    display: none;
}
.discount-message-wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background: url('../images/discount.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: red;
    width: 716px;
    height: 500px;
    display: none;
}
.discount-message__go{
    position: absolute;
    right: 69px;
    bottom: 30px;
    background: #ffd02e;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 40px;
    border: 0;
    display: block;
}
.discount-message__close{
    background: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
}
@media screen and (max-width: 840px){
    .discount-message-wrap{
        max-width: 460px;
        max-height: 325px;
    }
    .discount-message__go {
        right: 37px;
        bottom: 25px;
        font-size: 15px;
        padding: 12px 25px;
    }
    .discount-message__close{
        top: -5px;
    }
}
@media screen and (max-width: 575px){
    .discount-message-wrap{
        max-width: 395px;
        max-height: 280px;
    }
    .discount-message__go {
        right: 31px;
        bottom: 23px;
        font-size: 14px;
        padding: 7px 14px;
    }
    .discount-message__close{
        top: -10px;
    }
}
@media screen and (max-width: 420px){
    .discount-message-wrap{
        max-width: 300px;
        max-height: 215px;
    }
    .discount-message__go {
        right: 24px;
        bottom: 20px;
        font-size: 12px;
        padding: 2px 5px;
    }
    .discount-message__close{
       top: -10px;
    }
}

