div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:100%;}
div.mf-message textarea {width: 100%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

.icons_elements{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 25px;
}
.element_pl{
    width: 260px;
}
.icons_form{
    display:none;
}
.icons_form h2{
    display: none;
}